*{
    box-sizing: border-box;
}

body{
    
}

.float{
    position: relative;
}



.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.btn{
    border-radius: 15px;
    background-color: #af4c4c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 5%;
    cursor: pointer;
}


.output-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;

}

#values{
    display: block;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#link{
    font-size: x-large;

}

#link:link,#link:hover,#link:visited{
    text-decoration: none;
    color: #cf3e3e;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    font-size: xxx-large;
}