*{
    box-sizing: border-box;
}

body{
    
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.btn{
    border-radius: 15px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.output-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;

}

#values{
    display: block;

}

#link{
    font-size: x-large;

}